{{#isPathParam}}{{!

    }}@PathParam("{{baseName}}"){{!

    }}{{#useBeanValidation}} {{>beanValidationParam}}@TRIM_EMPTY_LINE@{{/useBeanValidation}}{{!

    }} {{{dataType}}} {{paramName}}{{!

}}{{/isPathParam}}