{{#isPathParam}}{{!

    }}@PathParam("{{baseName}}"){{!

    }}{{#useBeanValidation}} {{>jstache/beanValidationParam.mustache}}@TRIM_EMPTY_LINE@{{/useBeanValidation}}{{!

    }} {{{dataType}}} {{paramName}}{{!

}}{{/isPathParam}}