{{#isQueryParam}}{{!

    }}{{^isContainer}}{{!
        }}{{#defaultValue}}{{!
            }}@DefaultValue("{{{defaultValue}}}") {{!
        }}{{/defaultValue}}{{!
    }}{{/isContainer}}{{!

    }}@QueryParam("{{baseName}}") {{!

    }}{{#useBeanValidation}}{{>beanValidationParam}}{{/useBeanValidation}}{{!

    }}{{{dataType}}} {{paramName}}{{!

}}{{/isQueryParam}}