{{#isBodyParam}}{{!

    }}{{#madaParam.todo}}
    @ApiParam(value = "{{{description}}}"{{!
        }}{{#required}}, required = true{{/required}}{{!
        }}{{#allowableValues}}, {{> allowableValues}}{{/allowableValues}}{{!
        }}{{#defaultValue}}, defaultValue = "{{{.}}}"{{/defaultValue}}{{!
    }}) 
    {{/madaParam.todo}}{{!

    }}{{#useBeanValidation}}{{>beanValidation}}@TRIM_EMPTY_LINE@ {{/useBeanValidation}}{{!

    }}{{{dataType}}} {{paramName}}{{!

}}{{/isBodyParam}}