{{#description}}
  /**
   * {{description}}
   */
{{/description}}
  public enum {{{madaProp.inDtoEnumClassName}}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}} {
        {{#allowableValues}}
            {{#enumVars}}
            {{#mada.off}}
            Not possible, so disabled for now, see https://github.com/OAI/OpenAPI-Specification/issues/348
               {{#enumDescription}}
    /**
     * {{.}}
     */
               {{/enumDescription}}
            {{/mada.off}}
    {{{name}}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
            {{/enumVars}}
        {{/allowableValues}}

    private final {{{dataType}}} value;

    {{{madaProp.inDtoEnumClassName}}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}({{{dataType}}} value) {
      this.value = value;
    }

{{#jackson}}
    @JsonValue
{{/jackson}}
    public {{{dataType}}} getValue() {
      return value;
    }

    @Override
    public String toString() {
      return String.valueOf(value);
    }
{{#jackson}}

    @JsonCreator
    public static {{{madaProp.inDtoEnumClassName}}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}} fromValue({{{dataType}}} value) {
      for ({{{madaProp.inDtoEnumClassName}}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}} b : {{{madaProp.inDtoEnumClassName}}}{{^datatypeWithEnum}}{{{classname}}}{{/datatypeWithEnum}}.values()) {
        if (Objects.equals(b.value, value)) {
          return b;
        }
      }
      {{#isNullable}}return null;{{/isNullable}}{{^isNullable}}throw new IllegalArgumentException("Unexpected value '" + value + "'");{{/isNullable}}
    }
{{/jackson}}
    {{#madaProp.jsonb}}

    public static class {{{madaProp.inDtoEnumClassName}}}Adapter implements JsonbAdapter<{{{madaProp.inDtoEnumClassName}}}, JsonString> {
      @Override
      public JsonString adaptToJson({{{madaProp.inDtoEnumClassName}}} e) throws Exception {
        return Json.createValue(String.valueOf(e.value));
      }

      @Override
      public {{{madaProp.inDtoEnumClassName}}} adaptFromJson(JsonString value) throws Exception {
        for ({{{madaProp.inDtoEnumClassName}}} b : {{{madaProp.inDtoEnumClassName}}}.values()) {
          if (String.valueOf(b.value).equalsIgnoreCase(value.getString())) {
            return b;
          }
        }
        throw new IllegalStateException("Unable to deserialize '" + value.getString() + "' to type {{{madaProp.inDtoEnumClassName}}}");
      }
    }
    {{/madaProp.jsonb}}
  }
