{{>licenseInfo}}

package {{packageName}};

{{#hasImports}}
{{#imports}}
import {{.}};
{{/imports}}

{{/hasImports}}
{{#discriminator}}
{{>typeInfoAnnotation}}
{{/discriminator}}
{{#madaDto.schemaOptions}}
@Schema({{{madaDto.schemaOptions}}})
{{/madaDto.schemaOptions}}
public interface {{classname}} {
}
