{{#isBodyParam}}{{!

    }}{{#isMultipartForm}}@MultipartForm{{#validation}} {{/validation}}{{/isMultipartForm}}{{!

    }}{{#validation}}{{>beanValidation}}{{/validation}}{{!

    }}{{{dataType}}} {{paramName}}{{!

}}{{/isBodyParam}}