{{#isBodyParam}}{{!

    }}{{#isMultipartForm}}@MultipartForm{{/isMultipartForm}}{{!

    }}{{#validation}} {{>beanValidation}}{{/validation}}{{!

    }}{{{dataType}}} {{paramName}}{{!

}}{{/isBodyParam}}