{{>licenseInfo}}

package {{packageName}};

{{#hasImports}}
{{#imports}}
import {{.}};
{{/imports}}

{{/hasImports}}
{{#renderSchema}}
@Schema(anyOf = { {{implementations}} })
{{/renderSchema}}
public interface {{classname}} {
}
