{{>licenseInfo}}

package {{packageName}};

{{#hasImports}}
{{#imports}}
import {{.}};
{{/imports}}

{{/hasImports}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#isRecord}}{{>record}}{{/isRecord}}{{^isRecord}}{{>pojo}}{{/isRecord}}{{/isEnum}}