{{>licenseInfo}}

package {{packageName}};

{{#hasImports}}
{{#imports}}
import {{.}};
{{/imports}}

{{/hasImports}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#isaRecord}}{{>record}}{{/isaRecord}}{{^isaRecord}}{{>pojo}}{{/isaRecord}}{{/isEnum}}