{{#isQueryParam}}{{!

    }}{{^isContainer}}{{!
        }}{{#defaultValue}}{{!
            }}@DefaultValue("{{{defaultValue}}}") {{!
        }}{{/defaultValue}}{{!
    }}{{/isContainer}}{{!

    }}@QueryParam("{{baseName}}") {{!

    }}{{#validation}}{{>beanValidation}}{{/validation}}{{!

    }}{{>nullableParam}}{{{dataType}}} {{paramName}}{{!

}}{{/isQueryParam}}