name: Build and Sign
on:
  push:
    tags:
      - 0.*
    branches:
      - main
      - allof
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
#      - name: Set up JDK 17
#        uses: actions/setup-java@v1
#        with:
#          java-version: 17
#      - name: Cache SonarCloud packages
#        uses: actions/cache@v1
#        with:
#          path: ~/.sonar/cache
#          key: ${{ runner.os }}-sonar
#          restore-keys: ${{ runner.os }}-sonar
#      - name: Cache Gradle packages
#        uses: actions/cache@v1
#        with:
#          path: ~/.gradle/caches
#          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
#          restore-keys: ${{ runner.os }}-gradle
#
      - name: Echo env
        env:
          TEST_: ${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}
          TEST_EX: ${{ github.head_ref || github.ref_name }}
        run: env | sort ; echo $TEST_ ; echo ${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}

#      - name: Build and analyze
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        run: ./gradlew build sonarqube javadoc publish -s -Pversion=${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}
#
#      - name: Sign dist files
#        if: startsWith(github.ref, 'refs/tags/')
#        env:
#          MADA_SIGNING_KEY: ${{ secrets.MADA_SIGNING_KEY }}
#          MADA_SIGNING_PASSWORD: ${{ secrets.MADA_SIGNING_PASSWORD }}
#        run: .github/sign-published-files.sh build/dist ${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}} F9B879EDFC0AB297588936F49CCE5D89C917DBD4
#
#      - name: Bundle release
#        if: startsWith(github.ref, 'refs/tags/')
#        run: cd build/dist/dk/mada/openapi-jaxrs-client/${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}/ ; jar cvf ../../../../release-bundle-${GITHUB_HEAD_REF:-${GITHUB_REF_NAME}}.jar *
#
#      - name: Upload built files
#        uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2
#        with:
#          name: files-${{ github.ref_name }}
#          path: |
#            build/dist/*.jar
#            build/dist/*.asc
#          retention-days: 3
#
#      - name: Deploy Javadoc
#        if: startsWith(github.ref, 'refs/tags/')
#        uses: JamesIves/github-pages-deploy-action@2731bec0dbf2bbf03977acbe88f9977eb7c2fbb7
#        with:
#          branch: gh-pages
#          folder: build/docs/javadoc
#          ssh-key: ${{ secrets.DEPLOY_KEY }}
