name: Build and publish Gradle plugin
on:
  push:
    tags:
      - gradle/0.*
    
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
        # v4
        with:
          validate-wrappers: true

      - name: Build release
        run: ./gradlew publishPlugin -s -Pversion=${BUILD_LABEL/gradle\/} --no-build-cache --no-configuration-cache
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          BUILD_LABEL: ${{ github.head_ref || github.ref_name }}
