name: Build and push to MavenCentral
on:
  push:
    tags:
      - 0.*

jobs:
  publish:
    runs-on: ubuntu-latest 
    permissions: 
      contents: write
      packages: write
    steps:
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
        # v4
        with:
          validate-wrappers: true

      - name: Build release
        run: |
          ./gradlew javadoc publish -s -Pversion=${BUILD_LABEL//\//_}

          # Gradle artifacts are published separately, so remove them
          rm -rf build/dist/dk/mada/jaxrs/dk.mada.jaxrs.gradle.plugin
          rm -rf build/dist/dk/mada/jaxrs/gradle-plugin
        env:
          BUILD_LABEL: ${{ github.head_ref || github.ref_name }}

      - name: Upload and Release Bundle
        uses: jskov/action-maven-publish@8145b6173999b6367355a220c2cd961f54e6b259
        # v1.2
        with:
          companion_suffixes: '.jar, .module, -javadoc.jar, -sources.jar, -cli.jar'
          portal_username: ${{ secrets.PORTAL_USERNAME }}
          portal_token: ${{ secrets.PORTAL_TOKEN }}
          signing_key: ${{ secrets.SIGNING_KEY }}
          signing_key_secret: ${{ secrets.SIGNING_KEY_SECRET }}
          search_directory: build/dist
          target_action: 'promote_or_keep'
